:root {
    --off-white: rgb(207, 207, 207);
    /*--off-white: rgb(36, 36, 36);*/
    --bar-gray: #201f21;
    --dark-text: #1c1c1c;
}
* {
    color: var(--off-white);
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-color: #2c2b2e;
    margin:0;
}

header {
    background-color: var(--bar-gray);
    position: sticky;
    top:0;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--bar-gray);
}


p {
    margin: 0;
}

nav {

}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

nav ul li {
    /*display: inline-block;*/
    float: left;    
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    color: var(--off-white);
    display: block;
    padding: 20px 20px;

}

nav li a:hover {
    background-color: #00425a;
    /*animation-name: hover-fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;*/
}

footer > * {
    padding: 20px;
    text-align: center;
}

.intro-section * {
    color: var(--dark-text);

}

.intro-section{
    padding: 70px;
    padding-left: 15%;

}

.main-section{
    padding: 70px;
    padding-left: 15%;
    padding-right: 30%;
}
.gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /*height: 100vh;*/
}

#github-img {
    max-width: 30px;
    margin: -10px;
}

#tech-link {
    color: rgb(255, 190, 125)
}

@keyframes hover-fade {
    to {background-color: rgb(88, 88, 88);}
  }

  
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}